<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/water/css/common.css}"/>
    <script>
        var server_url = "http://127.0.0.1:8080/"

        function download(){
            var downloadUrl =  server_url + "/web3/download/url";
            $.ajax({
                url: downloadUrl,
                type: 'get',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                success: function (res) {
                    console.log(res);
                    if (res.code != 200) {
                        showPopup("send fail! " + res.msg);
                        // alert("send fail!  " + res.msg);
                    } else {
                        var resData = res.data;
                        window.location.href=resData
                    }
                }, error: function (xhr, errorMessage, e) {
                    console.log(xhr);
                    console.log(errorMessage)
                    console.log(e);
                    showPopup(errorMessage)
                }
            })
        }

        function transfer() {
            var toSendAddress = $("#toAddress").val();
            var transferUrl = server_url + "/web3/transfer?toAddress=" + toSendAddress;
            $.ajax({
                url: transferUrl,
                type: 'get',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                success: function (res) {
                    console.log(res);
                    if (res.code != 200) {
                        showPopup("send fail! " + res.msg);
                        // alert("send fail!  " + res.msg);
                    } else {
                        showPopup("Send Success!")
                        // alert("send success!");
                        window.location.reload();
                    }
                }, error: function (xhr, errorMessage, e) {
                    console.log(xhr);
                    console.log(errorMessage)
                    console.log(e);
                    showPopup(errorMessage)
                }
            })
        }

        $(document).ready(function () {
            var pageUrl = server_url + "/web3/transfer/history";
            $.ajax({
                url: pageUrl,
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    if (res.code == 200) {
                        var resData = res.data.transferResponses;
                        var downloadTag = res.data.clickDownload;
                        if(downloadTag){
                            $("#toAddress").attr("readonly",false);
                            $("#send-address-button-input").css("background","linear-gradient(90deg, #10CB6C 0%, #09A656 95.29%)");
                            $("#send-address-button-input").css("border","1px solid #10CB6C");
                            $("#send-address-button-input").removeAttr("disabled");
                            $("#send-address-button-input").css("pointer-events","auto")
                        }
                        for (var i = 0; i < resData.length; i++) {
                            var url = resData[i].url;
                            var toAddress =resData[i].toAddress;
                            var time = resData[i].time;
                            var number = resData[i].number;
                            $("#toAddress-a-" + i).text(toAddress);
                            $("#number-" + i).text(number);
                            $("#timeAgo-" + i).text(time);
                            if(null != url){
                                $("#toAddress-a-" + i).attr("href",url);
                            }
                        }
                    } else {
                        showPopup("Get fail! " + res.msg)
                    }


                },
                error: function (xhr, errorMessage, e) {
                    showPopup(errorMessage)
                }
            })
        });

        //给定一个值,使点 确定按钮 为 true,点其他为 false
        var isDelete = false;
        //显示弹窗函数，设置display为flex
        function showPopup(msg) {
            $('#tip_message').text(msg);
            document.getElementById("popup").style.display = "flex";
        }

        //关闭弹窗函数，设置display为none，传一个参数，把true和false传进去
        function hidePopup(x, e) {
            //处理冒泡，event 的 cancelable 事件返回一个布尔值
            // 确定按钮有event参数，不会返回undefined（因为取消和其他区域，没传值 默认undefined）
            if (e != undefined) {
                e.cancelBubble = true;
            }
            document.getElementById("popup").style.display = "none";
            isDelete = x;
            console.log(x);
        }
    </script>
</head>
<body>
<div class="logo">
    <div class="download-button">
        <input type="button" value="Download" onclick="download()">
    </div>
</div>
<div class="metaunva">
</div>
<div class="send-token">
</div>
<div class="send">
    <div class="send-address-text">
        <input id="toAddress" type="text" placeholder="Enter your wallet address(0x...) or ENS domain" readonly="true">
    </div>
    <div class="send-address-button">
        <input class="send-address-button-input" id="send-address-button-input" type="button" value="Send Request" onclick="transfer()" disabled="disabled">
    </div>
</div>
<div class="history">
    <div class="history-table">
        <table>
            <thead>
            <tr>
                <th>Your Transactions</th>
                <th>Number</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th id="toAddress-0"><a id="toAddress-a-0" href="#">.....</a></th>
                    <th id="number-0">0</th>
                    <th id="timeAgo-0">0 minutes ago</th>
                </tr>
                <tr>
                    <th id="toAddress-1"><a id="toAddress-a-1" href="#">.....</a></th>
                    <th id="number-1">0</th>
                    <th id="timeAgo-1">0 minutes ago</th>
                </tr>
                <tr>
                    <th id="toAddress-2"><a id="toAddress-a-2" href="#">.....</a></th>
                    <th id="number-2">0</th>
                    <th id="timeAgo-2">0 minutes ago</th>
                </tr>
                <tr>
                    <th id="toAddress-3"><a id="toAddress-a-3" href="#">.....</a></th>
                    <th id="number-3">0</th>
                    <th id="timeAgo-3">0 minutes ago</th>
                </tr>
                <tr>
                    <th id="toAddress-4"><a id="toAddress-a-4" href="#">.....</a></th>
                    <th id="number-4">0</th>
                    <th id="timeAgo-4">0 minutes ago</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--给出弹窗的内容-->
<!--弹窗点击除 确定按钮 以外的 取消和其他区域 时弹窗都会消失且输出false，点击 确定按钮 时为true-->
<div class="popup" id="popup" onclick="hidePopup(false)">
    <div class="popup-content">
        <div class="top">
            <p id="tip_message">Warning Message</p>
        </div>
        <div class="btn">
            <!--因为两个按钮在popup这个大框里，点击确定和取消就会同时点击父元素，会产生事件冒泡（即点击确定，会同时出现true和false）-->
            <button type="button" onclick="hidePopup(true,event)">determine</button>
        </div>
    </div>
</div>
</div>
</body>
</html>
