<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/water/css/common.css}" />
    <script>
        var url = "http://8.218.81.14:8080"
        function transfer(){
            var toSendAddress = $("#toAddress").val();
            var transferUrl = url + "/web3/transfer?toAddress=" + toSendAddress;
            $.ajax({
                url:transferUrl,
                type:'get',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                success:function (res){
                    console.log(res);
                    alert("send success!");
                },error:function (xhr,errorMessage,e){
                    alert(errorMessage);
                    console.log(e);
                }
            })
        }
    </script>
</head>
<body>
    <div class="logo">
    </div>
    <div class="metaunva">
    </div>
    <div class="send-token">
    </div>
    <div class="send">
        <div class="send-address-text">
            <input id="toAddress" type="text" placeholder="Enter your wallet address(0x...) or ENS domain">
        </div>
        <div class="send-address-button">
            <input type="button" value="Send Request" onclick="transfer()">
        </div>
    </div>
    <div class="history">
        <div class="history-table">
            <table>
                <thead>
                    <tr>
                        <th>Your Transactions</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0x3086a6d10161960Df5D9203110f23754b49fFEd8</th>
                        <th>20 minutes ago</th>
                    </tr>
                    <tr>
                        <th>0x3086a6d10161960Df5D9203110f23754b49fFEd8</th>
                        <th>20 minutes ago</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
