body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url('../image/background.jpg');
    background-size: 100% 100%;
}

.logo {
    width: 5.8%;
    height: 9.8%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/logo.jpg);
    margin-top: 4.1%;
    margin-right: auto;
    margin-left: auto;
}

.download-button {
    outline-style: none;
    width: 87%;
    height: 45%;
    text-align: center;
    margin-right: -420%;
    margin-left: auto;
    padding-top: 2%;
    text-align: right;
}

.download-button input{
    width: 130%;
    height: 100%;
    text-align: center;
    border: 1px solid #10CB6C;
    border-radius: 10px;
    background: linear-gradient(90deg, #ED824E 0.01%, #EA4A5C 101.09%);
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.metaunva {
    width: 27.3%;
    height: 4.9%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/metaunva.jpg);
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.send-token {
    width: 26.5%;
    height: 3.6%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/sendtoken.jpg);
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.send {
    width: 69.4%;
    height: 18.8%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/sendbackground.jpg);
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.history {
    width: 69.4%;
    height: 24.8%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/history.jpg);
    margin-top: 1.5%;
    margin-right: auto;
    margin-left: auto;
}

.history-table {
    width: 85%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
}

.history-table table{
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.history-table table thead{
    width: 100%;
    height: 20%;
}

.history-table table tbody{
    width: 100%;
    height: 80%;
}

.history-table table thead tr{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ED824E 0.01%, #EA4A5C 101.09%);
    border-radius: 10px 10px 0px 0px;
}

.history-table table tbody tr{
    width: 100%;
    height: 20%;
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #C8C8C8;
    border-radius: 0px 0px 10px 10px;
}

.history-table table thead tr th:nth-child(1){
    width: 50%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table thead tr th:nth-child(2){
    width: 20%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table thead tr th:nth-child(3){
    width: 30%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table tbody tr th:nth-child(1){
    width: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.history-table table tbody tr th:nth-child(2){
    width: 20%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.history-table table tbody tr th:nth-child(3){
    width: 30%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.send-address-text {
    outline-style: none;
    width: 85%;
    height: 30%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
}

.send-address-button {
    outline-style: none;
    width: 85%;
    height: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    text-align: right;
}

.send-address-text input{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #7D7D7D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 19px;
}

.send-address-button-input{
    width: 14%;
    height: 60%;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 10px;
    background: linear-gradient(90deg, #808080 0%, #808080 95.29%);
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /*opacity: 0.5;*/
    pointer-events: none;
}


.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 400px;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    color: black;
}

.top {
    width: 100%;
    border-bottom: 1px solid black;
}

.info {
    margin-top: 50px;
}
.btn {
    position: absolute;
}

.btn button{
    margin-top: 100%;
    margin-left: 353%;
}