@font-face {
    font-family: "Inter";
    src: url("../font/Inter-var-2.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular-2.ttf");
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    font-family:"Inter",'Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url('../image/background.jpg');
    background-size:100% 100%;
    background-position: center;
    font-family:"Inter",'Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.logo {
    width: 30%;
    height: 35%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/nuvaLogo.png);
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.mini-logo{
    background-image: url(../image/token.png);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    height: 12%;
    width: 4%;
    text-align: center;
    margin-top: -1%;
}

.download-button {
    outline-style: none;
    width: 20%;
    height: 14%;
    text-align: right;
    margin-right: -42%;
    margin-left: auto;
    padding-top: 10%;
}

.download-button input{
    width: 130%;
    height: 100%;
    border: 1px solid #10CB6C;
    border-radius: 10px;
    background: linear-gradient(90deg, #ED824E 0.01%, #EA4A5C 101.09%);
    color: #FFFFFF;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.metaunva {
    width: 60%;
    height: 41%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/NUVAFAUCETWORD.png);
    margin-top: -18%;
    margin-right: auto;
    margin-left: auto;
}

.send-token {
    width: 59.5%;
    height: 60.6%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/role.png);
    margin-top: -27%;
    margin-right: auto;
    margin-left: auto;
}

.send {
    width: 69.4%;
    height: 18.8%;
    background-size: 100% 100%;
    background: rgba(255, 255, 255, 0.8);
    margin-top: -4.5%;
    margin-right: auto;
    margin-left: auto;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

.history {
    width: 69.4%;
    height: 24.8%;
    background-size: 100% 100%;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1.5%;
    margin-right: auto;
    margin-left: auto;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

.history-table {
    width: 85%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
}

.history-table table{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}

.history-table table tr{
    border: dashed 1px #a59e9e;
    border: none;
}


.history-table table thead{
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0px 0px;
}

.history-table table tbody{
    width: 100%;
    height: 80%;
    border-radius: 0px 0px 10px 10px;
}

.history-table table thead tr{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ED824E 0.01%, #EA4A5C 101.09%);
}

.history-table table tbody tr{
    width: 100%;
    height: 20%;
    background: #FFFFFF;
}

.history-table table thead tr th:nth-child(1){
    width: 5%;
    height: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table thead tr th:nth-child(2){
    width: 45%;
    height: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table thead tr th:nth-child(3){
    width: 20%;
    height: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table thead tr th:nth-child(4){
    width: 30%;
    height: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.history-table table tbody tr th:nth-child(1){
    width: 5%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.history-table table tbody tr th:nth-child(2){
    width: 45%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.history-table table tbody tr th:nth-child(3){
    width: 20%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.history-table table tbody tr th:nth-child(4){
    width: 30%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.send-address-text {
    outline-style: none;
    width: 85%;
    height: 30%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
}

.send-address-button {
    outline-style: none;
    width: 85%;
    height: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    text-align: right;
}

.send-address-text input{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #7D7D7D;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 19px;
}

.send-address-button-input{
    width: 14%;
    height: 60%;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 10px;
    background: linear-gradient(90deg, #808080 0%, #808080 95.29%);
    color: #FFFFFF;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /*opacity: 0.5;*/
    pointer-events: none;
}


.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 400px;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    color: black;
}

.top {
    width: 100%;
    border-bottom: 1px solid black;
}

.info {
    margin-top: 50px;
}
.btn {
    position: absolute;
}

.btn button{
    margin-top: 100%;
    margin-left: 353%;
}

@media screen and (max-width: 1020px){
    .metaunva{margin-top: -21%;}
    .send-token{margin-top: -30%;}
}